* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: rgb(46, 79, 189);
    color: aliceblue;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}